@page
@model PRACTICA3.Pages.Paginas.Ventas.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Editar</h1>

<h4>Venta</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Venta.VentaID" />
            <div class="form-group">
                <label asp-for="Venta.ClienteID" class="control-label"></label>
                <select asp-for="Venta.ClienteID" class="form-control" asp-items="ViewBag.ClienteID"></select>
                <span asp-validation-for="Venta.ClienteID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venta.Fecha" class="control-label"></label>
                <input asp-for="Venta.Fecha" class="form-control" />
                <span asp-validation-for="Venta.Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Venta.PrecioTotal" class="control-label"></label>
                <input asp-for="Venta.PrecioTotal" class="form-control" />
                <span asp-validation-for="Venta.PrecioTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Regresar a la Lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
